---
- name: gather variables
  include_vars: "{{ repo_item }}"
  with_first_found:
  - "{{ ansible_distribution }}-{{ ansible_distribution_major_version }}-{{ ansible_userspace_bits }}-repo.yml"
  loop_control:
    loop_var: repo_item

- name: set the repository build value
  ansible.builtin.set_fact:
    repo_build: "rpms"
  when: build == "release"

- name: set the repository build value
  ansible.builtin.set_fact:
    repo_build: "{{ build }}-rpms"
  when: build != "release"

- name: Add BEE YUM repository
  yum_repository:
    name: "{{ repo_name }}"
    file: "{{ repo_filename }}"
    description: "{{ description }}"
    baseurl: "{{ dl_area }}/{{ repo_build }}/bin/{{ bee_version }}/{{ rhel_version }}-{{ architecture }}/"
    enabled: "{{ enabled }}"
    protect: "{{ protect }}"
    gpgcheck: "{{ gpgcheck }}"
