- name: gather variables
  include_vars: "{{ repo_item }}"
  with_first_found:
  - "{{ ansible_distribution }}-{{ ansible_distribution_major_version }}{{ ansible_distribution_release }}-{{ ansible_userspace_bits }}-repo.yml"
  loop_control:
    loop_var: repo_item

- name: get plugin variables
  set_fact:
    sdplugin_name: "{{ sdplugins_item.value.name }}"
    sdplugin_directory: "{{ sdplugins_item.value.directory }}"
    sdplugin_version: "{{ sdplugin_version | default(bee_version) }}"
  loop: "{{ sdplugins|dict2items }}"
  loop_control:
    loop_var: sdplugins_item
  when: sdplugins_item.key == sdplugin

- name: set the repository build value
  ansible.builtin.set_fact:
    repo_build: "rpms"
  when: build == "release"

- name: set the repository build value
  ansible.builtin.set_fact:
    repo_build: "{{ build }}-rpms"
  when: build != "release"

- name: Add BEE repository
  zypper_repository:
    name: "{{ repo_filename }}"
    description: "{{ description }}"
    repo: "{{ dl_area }}/{{ repo_build }}/{{ sdplugin_directory }}/{{ sdplugin_version }}/{{ sles_version }}-{{ architecture }}/"
    auto_import_keys: "{{ auto_import_keys }}"
