- name: install Bacula Enteprise plugin for Storage Daemon dependencies and package key if required
  block:
    - name: create the /etc/apt/keyrings directory if it does not exist
      ansible.builtin.file:
        path: /etc/apt/keyrings
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Install the GPG Public Key if needed
      ansible.builtin.get_url:
        url: "{{ item.gpgkey }}"
        dest: "/etc/apt/keyrings/{{ (item.gpgkey | basename | splitext)[0] }}.gpg"
      register: result
      retries: 3
      delay: 10
      when:
        - item.gpgkey is defined
        - item.convert_key is not defined
      failed_when:
        - result.status_code != 200
        - result.status_code != 304

    - name: Install the GPG Public Key if needed
      ansible.builtin.get_url:
        url: "{{ item.gpgkey }}"
        dest: "/tmp/{{ (item.gpgkey | basename | splitext)[0] }}.asc"
      register: result_convert
      retries: 3
      delay: 10
      when:
        - item.gpgkey is defined
        - item.convert_key is defined
      failed_when:
        - result_convert.status_code != 200
        - result_convert.status_code != 304

    - name: Dearmor and save the key to the final location if needed
      ansible.builtin.shell:
        cmd: "gpg --dearmor /tmp/{{ (item.gpgkey | basename | splitext)[0] }}.asc | tee /etc/apt/keyrings/microsoft.gpg > /dev/null"
      when:
        - item.gpgkey is defined
        - item.convert_key is defined

    - name: add Plugin dependencies repository if required
      include_tasks: add_repo_dependency.yml
      vars:
        add_repo_dependency: "{{ item.package_name }}"
      when:
        - "item.add_repo == true"

    - name: set the plugin_dependency value as the dependency name
      set_fact:
        plugin_dependency="{{ item.package_name }}"

    - name: Install {{ plugin_dependency }} using package dependency name
      apt:
        name: "{{ item.package_dependency_name}}"
        state: latest
        update_cache: true
      when:
        - (item.use_deb_package is not defined) or (not item.use_deb_package)
        - item.use_package_manager|default(false)|bool == true

    - name: Install {{ plugin_dependency }} using deb package
      apt:
        deb: "{{ item.package_dependency_name}}"
      when:
        - item.use_deb_package is defined
        - item.use_deb_package|default(false)|bool == true
        - item.use_package_manager|default(false)|bool == true

    - name: Install {{ plugin_dependency }} not using package manager
      include_tasks: install_plugin_dependencies.yml
      vars:
        plugin_dependency: "{{ item.package_name }}"
      when:
        - item.use_package_manager|default(false)|bool == false

    - name: check dependency is correctly installed
      include_tasks: "{{ lookup('ansible.builtin.first_found', params) }}"
      when:
        - item.check_dependency_install|default(false)|bool == true
      vars:
        params:
          files:
            - "{{ ansible_distribution }}-{{ ansible_distribution_major_version }}-{{ansible_userspace_bits}}_check_{{ plugin_dependency }}.yml"
            - "{{ ansible_distribution }}-{{ ansible_distribution_version }}-{{ansible_userspace_bits}}_check_{{ plugin_dependency }}.yml"
            - "{{ ansible_distribution }}_check_{{ plugin_dependency }}.yml"
            - "check_{{ plugin_dependency }}.yml"
          skip: true
