---
- name: gather variables
  include_vars: "{{ repo_item }}"
  with_first_found:
  - "{{ ansible_distribution }}-{{ ansible_distribution_major_version }}{{ ansible_distribution_release}}-{{ansible_userspace_bits}}-repo.yml"
  loop_control:
    loop_var: repo_item

- name: set the repository build value
  ansible.builtin.set_fact:
    repo_build: "rpms"
  when: build == "release"

- name: set the repository build value
  ansible.builtin.set_fact:
    repo_build: "{{ build }}-rpms"
  when: build != "release"

- name: Add BEE ZYPPER repository
  zypper_repository:
    name: "{{ repo_filename }}"
    description: "{{ description }}"
    repo: "{{ dl_area }}/{{ build_repo }}/bin/{{ bee_version }}/{{ sles_version }}-{{ architecture }}/"
    auto_import_keys: "{{ auto_import_keys }}"
