- name: gather variables
  include_vars: "{{ repo_item }}"
  with_first_found:
  - "{{ ansible_distribution }}-{{ ansible_distribution_major_version }}-{{ansible_userspace_bits}}-repo.yml"
  loop_control:
    loop_var: repo_item

- name: get plugin variables
  set_fact:
    dirplugin_name: "{{ dirplugins_item.value.name }}"
    dirplugin_directory: "{{ dirplugins_item.value.directory }}"
    dirplugin_component: "main"
  loop: "{{ dirplugins|dict2items }}"
  loop_control:
    loop_var: dirplugins_item
  when:
    - dirplugins_item.key == dirplugin
    - dirplugins_item.value.directory == "bin"

- name: get plugin variables
  set_fact:
    dirplugin_name: "{{ dirplugins_item.value.name }}"
    dirplugin_directory: "{{ dirplugins_item.value.directory }}"
    dirplugin_component: "{{ dirplugins_item.value.name }}"
  loop: "{{ dirplugins|dict2items }}"
  loop_control:
    loop_var: dirplugins_item
  when:
    - dirplugins_item.key == dirplugin
    - dirplugins_item.value.directory != "bin"

- name: set the repository build value
  ansible.builtin.set_fact:
    repo_build: "debs"
  when: build == "release"

- name: set the repository build value
  ansible.builtin.set_fact:
    repo_build: "{{ build }}-debs"
  when: build != "release"

- name: Add BEE release DEB822 repository
  ansible.builtin.deb822_repository:
    name: "{{ repo_filename }}"
    types: deb
    suites: "{{ codename }}"
    uris: "{{ dl_area }}/{{ repo_build }}/{{ dirplugin_directory }}/{{ bee_version }}/{{ codename }}-{{ architecture }}"
    components: "{{ dirplugin_component }}"
    signed_by: /etc/apt/keyrings/{{ key_item.value }}
  when:
    - key_item.key == build
    - build == "release"
  loop: "{{ lookup('dict', keys) }}"
  loop_control:
    loop_var: key_item

- name: Add BEE beta DEB822 repository
  ansible.builtin.deb822_repository:
    name: "{{ repo_filename }}"
    types: deb
    suites: "{{ codename }}"
    uris: "{{ dl_area }}/beta-debs/{{ dirplugin_directory }}/{{ bee_version }}/{{ codename }}-{{ architecture }}"
    components: "{{ dirplugin_component }}"
    signed_by: /etc/apt/keyrings/{{ key_item.value }}
  when:
    - key_item.key == build
    - build == "beta"
  loop: "{{ lookup('dict', keys) }}"
  loop_control:
    loop_var: key_item

- name: Add BEE nightly DEB822 repository
  ansible.builtin.deb822_repository:
    name: "{{ repo_filename }}"
    types: deb
    suites: "{{ codename }}"
    uris: "{{ dl_area }}/nighty-debs/{{ dirplugin_directory }}/{{ bee_version }}/{{ codename }}-{{ architecture }}"
    components: "{{ dirplugin_component }}"
    signed_by: /etc/apt/keyrings/{{ key_item.value }}
  when:
    - key_item.key == build
    - build == "nightly"
  loop: "{{ lookup('dict', keys) }}"
  loop_control:
    loop_var: key_item

# we do the cache update after adding the repository to get better the error
- name: update repositories cache
  apt:
    update_cache: yes
  register: apt_update_result
- debug:  msg="{{ apt_update_result.stdout.split('\n') }}"
  when: apt_update_result.stdout is defined
- debug:  msg="{{ apt_update_result.stderr.split('\n') }}"
  when: apt_update_result.stderr is defined
