Autochanger {
  Name = {{ storage_name }}-{{ sdplugin }}-autochanger
  Address = {{ storage_hostname }}
  SDPort = 9103
  Password = "{{ dir_sd_password }}"
  Device = {{ sdplugin }}-Chgr
  Media Type = {{ sdplugin }}-volume
  Maximum Concurrent Jobs = 10 
  Autochanger = {{ storage_name }}-{{ sdplugin }}-autochanger
}
