Cloud {
 Name = {{ sdplugin }}-cloud
 Driver = "Amazon"
 HostName = "s3.amazonaws.com"
 BucketName = "mybucket"
 Region = us-east-1
 AccessKey = "access-key-value"
 SecretKey = "secret-key-value"
 Protocol = HTTPS
 UriStyle = VirtualHost
 Truncate Cache = AfterUpload
 Upload = EachPart
 TransferPriority = Medium
 TransferRetention = 1
}

Autochanger {
  Name = {{ sdplugin }}-Chgr
  Device = {{ sdplugin }}Chgr-Dev1, {{ sdplugin }}Chgr-Dev2
  Changer Command = ""
  Changer Device = /dev/null
}

Device {
  Name = {{ sdplugin }}Chgr-Dev1
  Device Type = Cloud
  Drive Index = 0
  Cloud = {{ sdplugin }}-cloud
  Media Type = {{ sdplugin }}-volume
  Archive Device = "{{ volumes_directory }}"
  Maximum Part Size = 10MB
  Maximum File Size = 10MB
  LabelMedia = yes;                   # lets Bacula label unlabeled media
  Random Access = Yes;
  AutomaticMount = yes;               # when device opened, read it
  RemovableMedia = no;
  AlwaysOpen = no;
  Maximum Concurrent Jobs = 5
}

Device {
  Name = {{ sdplugin }}Chgr-Dev2
  Device Type = Cloud
  Drive Index = 1
  Cloud = {{ sdplugin }}-cloud
  Media Type = {{ sdplugin }}-volume
  Archive Device = "{{ volumes_directory }}"
  Maximum Part Size = 10MB
  Maximum File Size = 10MB
  LabelMedia = yes;                   # lets Bacula label unlabeled media
  Random Access = Yes;
  AutomaticMount = yes;               # when device opened, read it
  RemovableMedia = no;
  AlwaysOpen = no;
  Maximum Concurrent Jobs = 5
}
