Cloud {
 Name = {{ sdplugin }}-cloud
 Driver = "S3"
 HostName = <hostname>
 BucketName = <bucket_name>
 Region = <region>
 AccessKey = <access_key>
 SecretKey = <secret_key>
 Protocol = HTTPS
 UriStyle = VirtualHost
 Truncate Cache = AfterUpload
 Upload = EachPart
}

Autochanger {
  Name = {{ sdplugin }}-Chgr
  Device = {{ sdplugin }}Chgr-Dev0, {{ sdplugin }}Chgr-Dev1
  Changer Command = ""
  Changer Device = /dev/null
}

Device {
  Name = {{ sdplugin }}Chgr-Dev0
  Device Type = Cloud
  Drive Index = 0
  Cloud = {{ sdplugin }}-cloud
  Media Type = {{ sdplugin }}-volume
  Archive Device = "{{ volumes_directory }}"
  Maximum Part Size = 10MB
  Maximum File Size = 10MB
  LabelMedia = yes;                   # lets Bacula label unlabeled media
  Random Access = Yes;
  AutomaticMount = yes;               # when device opened, read it
  RemovableMedia = no;
  AlwaysOpen = no;
  Maximum Concurrent Jobs = 5
}

Device {
  Name = {{ sdplugin }}Chgr-Dev1
  Device Type = Cloud
  Drive Index = 1
  Cloud = {{ sdplugin }}-cloud
  Media Type = {{ sdplugin }}-volume
  Archive Device = "{{ volumes_directory }}"
  Maximum Part Size = 10MB
  Maximum File Size = 10MB
  LabelMedia = yes;                   # lets Bacula label unlabeled media
  Random Access = Yes;
  AutomaticMount = yes;               # when device opened, read it
  RemovableMedia = no;
  AlwaysOpen = no;
  Maximum Concurrent Jobs = 5
}
