{# This configuration will be included in the Director bacula-dir.conf file #}
Job {
  Name = "{{ fdplugin }}-All-{{ client_name }}-job"
  JobDefs = {{ jobdefs_name }}
  Client = {{ client_name }}
  FileSet = {{ fdplugin }}-All-{{ client_name }}-fileset
  Schedule = Manual
  Accurate = yes
}

FileSet {
  Name = "{{ fdplugin }}-All-{{ client_name }}-fileset"
  Include {
    Options {
      Signature = MD5
    }
    Plugin = "amazon-ec2: config_file=/opt/bacula/etc/amazon-ec2.settings instances=myInstanceA,myInstanceB"
  }
}
