{# This configuration will be included in the Director bacula-dir.conf file #}
Job {
  Name = "{{ fdplugin }}-All-{{ client_name }}-job"
  JobDefs = {{ jobdefs_name }}
  Client = {{ client_name }}
  FileSet = {{ fdplugin }}-All-{{ client_name }}-fileset
  Schedule = Manual
  Accurate = yes
}

FileSet {
  Name = "{{ fdplugin }}-All-{{ client_name }}-fileset"
  Include {
    Options {
      Signature = MD5
    }
    Plugin = "amazon-rds: config_file=/opt/bacula/etc/amazon-rds.settings instances=<instances_names> export_bucket=<bucket_name> export_role=<String represenging a IAM Role name with the proper export permissions> export_key=<String represening a KMS key> snapshots_retention=<integer value>"
  }
}
