{# This configuration will be included in the Director bacula-dir.conf file #}
Job {
  Name = "{{ fdplugin }}-All-{{ client_name }}-job"
  JobDefs = {{ jobdefs_name }}
  Client = {{ client_name }}
  FileSet = {{ fdplugin }}-All-{{ client_name }}-fileset
  Schedule = Manual
}

FileSet {
  Name = "{{ fdplugin }}-All-{{ client_name }}-fileset"
  Include {
    Plugin = "kubernetes:"
  }
}

FileSet {
  Name = "{{ fdplugin }}-bearer-All-{{ client_name }}-fileset"
  Include {
  # the bearer token can be retrieved in the cluster using the following commands for the service account used:
  # kubectl -n kube-system get secrets | grep <service_account>
  # kubectl -n kube-system describe secret <service_account>-token-<value_displayed_in_command_above>
      Plugin = "kubernetes: pluginhost=<plugin_host> host=https://<api_url:port> token=\"<bearer_token>\""
  }
}
