{# This configuration will be included in the Director bacula-dir.conf file #}
Job {
  Name = "{{ fdplugin }}-All-{{ client_name }}-job"
  JobDefs = {{ jobdefs_name }}
  Client = {{ client_name }}
  FileSet = {{ fdplugin }}-All-{{ client_name }}-fileset
  Schedule = Manual
}

FileSet {
  Name = "{{ fdplugin }}-All-{{ client_name }}-fileset"
  Include {
    Plugin = "oracle-sbt"
  }
}

Job {
  Name = "Oracle-RMAN"
  JobDefs = {{ jobdefs_name }}
  Client = {{ client_name }}
  FileSet = FS_oracle
}

FileSet {
  Name = "FS_oracle"
  Include {
    Options {
      Signature = MD5
    }
    Plugin = "oracle: mode=rman"
  }
}
