{# This configuration will be included in the Director bacula-dir.conf file #}
Job {
  Name = "{{ fdplugin }}-All-{{ client_name }}-job"
  JobDefs = {{ jobdefs_name }}
  Client = {{ client_name }}
  FileSet = {{ fdplugin }}-All-{{ client_name }}-fileset
  Schedule = Manual
}

FileSet {
  Name = "{{ fdplugin }}-All-{{ client_name }}-fileset"
  Include {
    Options {
      Signature = MD5
      Compression = gzip
    }
    Plugin = "postgresql:"
  }
}

Job {
  Name = "Postgresql-plain-dump-job"
  JobDefs = {{ jobdefs_name }}
  Client = {{ client_name }}
  FileSet = Postgresql-plain-dump-fileset
  Schedule = Manual
}

FileSet {
  Name = "Postgresql-plain-dump-fileset"
  Include {
    Options {
      Signature = MD5
      Compression = gzip
    }
    Plugin = "postgresql: dump_opt=\"-F p\""
  }
}

Job {
  Name = "Postgresql-pitr-job"
  JobDefs = {{ jobdefs_name }}
  Client = {{ client_name }}
  FileSet = Postgresql-pitr-fileset
  Accurate = yes
  Schedule = Manual
}

FileSet {
  Name = "Postgresql-pitr-fileset"
  Include {
    Options {
      Signature = MD5
      Compression = gzip
    }
    Plugin = "postgresql: mode=pitr"
  }
}

Job {
  Name = "Postgresql-dump-single-database-job"
  JobDefs = {{ jobdefs_name }}
  Client = {{ client_name }}
  FileSet = Postgresql-dump-single-database-fileset
}

FileSet {
  Name = "Postgresql-dump-single-database-fileset"
  Include {
    Options {
      Signature = MD5
      Compression = gzip
    }
    Plugin = "postgresql: database=bacula"
  }
}
