{# This configuration will be included in the Director bacula-dir.conf file #}
Job {
  Name = "{{ fdplugin }}-All-{{ vm_name }}-job"
  JobDefs = {{ jobdefs_name }}
  Client = {{ vm_name }}-fd
  FileSet = {{ fdplugin }}-S3oneBucket-{{ vm_name }}-fileset
  Schedule = Manual
  Accurate = yes
}

FileSet {
  Name = {{ fdplugin }}-S3oneBucket-{{ vm_name }}-fileset
  Include {
    Options {
      Signature = MD5
    }
    Plugin = "s3: access_key=\"AKIAQVXBC4DMR7I42KVO\" secret_key=\"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\" region=\"eu-central-1\" abort_on_error bucket=\"testdefault\""
  }
}
