{# This configuration will be included in the Director bacula-dir.conf file #}
Job {
  Name = "XenAll-{{ client_name }}-job"
  JobDefs = {{ jobdefs_name }}
  Client = {{ client_name }}
  FileSet = XenAll-{{ client_name }}-fileset
  Schedule = Manual
  Accurate = yes
}

FileSet {
  Name = "XenAll-{{ client_name }}-fileset"
  Include {
    Plugin = "xenserver: server=<xenserver_host> username=root password=root_password"
  }
}
