---
- name: install postgresql and postgresql-client
  apt:
    name: "{{ packages }}"
    update-cache: true
    state: present
  retries: 3
  delay: 10
  failed_when:
    - result.stderr is defined
    - result.stderr | length > 0
    - "'bacula-enterprise-postgresql failed to preconfigure, with exit status 127' not in result.stderr"
  vars:
    packages:
      - postgresql
      - postgresql-client
