---
# This task list will install the Bacula Enterprise Storage Key Manager
# available in the repository files added
# This will allow the upgrade of existent BEE install by
# adding the new repo file and using this same role to update
- name: install Storage Encryption package
  ansible.builtin.apt:
    name: bacula-enterprise-storage-key-manager
    state: present
  register: result
  environment:
    DEBIAN_FRONTEND: noninteractive
  retries: 3
  delay: 10

- name: display error output
  debug: msg="{{ result.stderr.split('\n') }}"
  when:
    - result.stderr is defined
    - result.stderr | length > 0
    - '"debconf: delaying package configuration, since apt-utils is not installed" not in result.stderr'

- name: display error output
  debug: msg="{{ result.msg.split('\n') }}"
  when:
    - result.msg is defined
    - '"No package matching" in result.msg'
