---
- name: update and upgrade packages
  yum:
    name: '*'
    state: latest
    update_cache: true
  register: result
  retries: 3
  delay: 10
  failed_when:
    - (result.rc != 0) or (result.stderr | length > 0)
